#footer{
    padding: 6rem 60px 3rem 90px;
    
    .footer-left{
        a{
            font-size: 16px;
            color: #AAAAAA;
        }
    }

    .footer-right{
        h3{
            font-size: 18px;
            text-align: end;
            color: #AAAAAA;
        }
    }
}