#project-view{
    background: url(../../images/Group\ 218.svg);
    background-position: 400px -400px;
    background-size: 170%;
    background-repeat: no-repeat;
    padding-top: 15rem;
    width: 100%;
    
    .left-wrapper{
        width: 100%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;

        .base-image{
        width: 75%;
        background-color: white;
        }

        .column-box{
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;


            .image-box{
                height: 22%;
                


                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-color: white;
                }


                
            }
            
            .active-image{
                border: 3px solid #F05F6B !important;
            }
        }


    }

    .right-wrapper{
        margin-left: 40px;
        

        .title, .description{
            margin-bottom: 3rem;

            h1{
                color: white;
                font-size: 30px;
                margin-bottom: 15px;
            }

            p{
                color: white;
                font-size: 16px;
            }
        }

        .reyting{
            .stars {
                width: 100%;
                margin-bottom: 15px;
                display: flex;
                align-items: center;

                i {
                    font-size: 26px;
                    color: #FEC007;
                    margin-right: 15px;
                }
            }
        }

        .submit-btn{
            margin-top: 4rem;
            .btn {
                position: relative;
                text-align: center;
                background-color: transparent;
                cursor: pointer;
                text-decoration:none;
                font-size:12px;
                letter-spacing: 0.045em;
                margin-left: 70px;
                margin-right: 40px;
            }
            
            .btn svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .btn svg rect {
                //stroke: #EC0033;
                stroke-width: 1;
                stroke-dasharray: 400, 0;
                stroke-dashoffset: 0;
                -webkit-transition: all 800ms ease-in-out;
                transition: all 800ms ease-in-out;
            }
    
            .btn svg .logout {
                //stroke: #EC0033;
                stroke-width: 1;
                stroke-dasharray: 400, 0;
                stroke-dashoffset: 0;
                -webkit-transition: all 800ms ease-in-out;
                transition: all 800ms ease-in-out;
            }
            
            .btn span{
                font-size: 16px;
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              background: #ffffff;
              background: -moz-linear-gradient(left,  #ffffff);
              background: -webkit-linear-gradient(left,  #ffffff);
              background: linear-gradient(to right,  #ffffff);
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            
            .btn:hover svg rect {
                stroke-width: 2;
                stroke-dasharray: 90, 477;
                stroke-dashoffset: 435;
            }


    
            .btn:hover svg .logout{
                stroke-width: 2;
                stroke-dasharray: 90, 425;
                stroke-dashoffset: 350;
            }
    
        }
    }


    .navigations{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        margin-top: 40px;

        .prev-btn, .next-btn{
            display: flex;
            align-items: center;
            cursor: pointer;

            .icon{
                border: 1px solid white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                position: relative;
                margin-right: 15px;

                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }


            .text{
                span{
                    color: white;
                    font-size: 16px;
                }
            }
        }

        .next-btn{
            margin-right: 20px;

            .icon{
                margin-left: 20px !important;
            }
        }
    }
}