@font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset some default styles */
a {
    text-decoration: none !important;
}


*, *::before, *::after {
    box-sizing: border-box;
}


/* Define some default text styles */
body {
    font-family: 'helvetica';
    background-color: black;
    user-select: none !important;
}






.custom-container {
    width: 1400px !important;
    margin: auto !important;
}



  /* Yatay scroll çubuğu rengini değiştirme (sadece Webkit tabanlı tarayıcılarda çalışır) */
::-webkit-scrollbar {
    background: transparent;
    width: 2px;
  }
  
/* Yatay scroll çubuğu kaydırma kısmını değiştirme */
::-webkit-scrollbar-thumb {
background: #525050;
}



.move-button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 180px;
  opacity: 1;
  background-color: #ffffff;

    .text{
      color: rgb(0, 0, 0);
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.7px;
    }

    &:hover{
        animation: rotate 0.7s ease-in-out both;
        span{
            animation: storm 0.7s ease-in-out both;
            animation-delay: 0.06s;
        }
    }
}    

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}