@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset some default styles */
a {
  text-decoration: none !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Define some default text styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.custom-container {
  width: 1400px !important;
  margin: auto !important;
}

@media screen and (min-width: 1600px) {
  .custom-container {
    width: 1500px !important;
    margin: auto !important;
  }
}
/* Yatay scroll çubuğu rengini değiştirme (sadece Webkit tabanlı tarayıcılarda çalışır) */
::-webkit-scrollbar {
  background: transparent;
  width: 2px;
}

/* Yatay scroll çubuğu kaydırma kısmını değiştirme */
::-webkit-scrollbar-thumb {
  background: #525050;
}

.move-button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 55px;
  width: 180px;
  opacity: 1;
  background-color: #ffffff;
}
.move-button .text {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.move-button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.move-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 60px 0;
  background: transparent;
  z-index: 200;
  transition: padding 0.3s, background-color 0.3s;
}
#header .logo .image {
  width: 180px;
}
#header .logo .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .logo .lang {
  margin: 0 0 0 50px;
}
#header .logo .lang ul {
  padding: 4px 12px !important;
  border-radius: 40px;
  background-color: #242424;
  cursor: pointer;
  position: relative;
}
#header .logo .lang ul li {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}
#header .logo .lang ul i {
  color: white;
  font-size: 12px;
  margin-left: 5px;
}
#header .logo .lang ul .lang-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}
#header .logo .lang ul .lang-dropdown ul {
  margin-top: 0px;
  transition: 300ms;
}
#header .logo .lang ul .active {
  visibility: visible !important;
  opacity: 1 !important;
}
#header .logo .lang ul .active ul {
  margin-top: 5px !important;
}
#header .navbar {
  padding: 0px !important;
}
#header .navbar ul li {
  margin-left: 24px;
}
#header .navbar ul li .inline-link {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  padding: 2px 4px;
}
#header .navbar ul li .inline-link::after {
  position: absolute;
  content: "";
  top: 100%;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: #F05F6B;
  margin-top: 9px;
}
#header .navbar ul li .inline-link:hover::after {
  width: 100%;
}
#header .navbar ul li .logout {
  border: 1px solid white;
  border-radius: 50px;
  padding: 12px 40px;
  color: white;
  background-color: black;
  transition: 200ms ease-in-out;
}
#header .navbar ul li .logout:hover {
  background-color: white;
  color: black;
}
#header .navbar ul li .login {
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px 40px;
  color: white;
  background-color: black;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
#header .navbar ul li .login:hover {
  background-color: white;
  color: black;
}
#header .navbar ul li .select-menu {
  width: 100%;
  padding: 8px 20px;
  outline: none;
  border: 1px solid white;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  color: white;
  cursor: pointer;
}
#header .navbar ul li #category-open-icon, #header .navbar ul li #concept-open-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 95%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.471);
  cursor: pointer;
}
#header .navbar ul .username {
  margin-left: 50px;
}
#header .navbar ul .username span {
  color: white;
  font-size: 15px;
}
#header .menu-bar {
  display: none;
}

.scrolled {
  background-color: black !important;
  padding: 20px 0 !important;
}

@media screen and (max-width: 767px) {
  #header {
    padding: 30px !important;
  }
  #header .logo .image {
    width: 130px !important;
  }
  #header .logo .lang {
    margin: 0 0 0 20px !important;
  }
  #header .logo .lang ul {
    padding: 3px 9px !important;
  }
  #header .logo .lang ul li {
    font-size: 11px !important;
    margin-top: 1px !important;
  }
  #header .navbar {
    display: none;
  }
  #header .menu-bar {
    display: block;
    width: 20% !important;
    text-align: end;
    cursor: pointer;
  }
  #header .menu-bar i {
    font-size: 40px !important;
    color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tabletler için özel stil ayarları */
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {
  /* Tabletler için özel stil ayarları */
}
#hero {
  background: url(../../images/Pattern.svg);
  width: 100%;
  padding-top: 14rem;
  background-size: 200%;
  background-position: -1700px -950px;
}
#hero .information {
  padding: 0 7rem 0 7rem;
}
#hero .information .left h1 {
  font-size: 45px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 41px;
}
#hero .information .left .responsive-text {
  display: none;
}
#hero .information .left .buttons {
  margin-top: 50px;
}
#hero .information .left .buttons .send-design {
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  background-color: white;
  color: black;
  transition: 100ms ease-in-out;
}
#hero .information .left .buttons .send-design:hover {
  background-color: #F05F6B;
  color: rgb(255, 255, 255);
}
#hero .information .left .buttons .news-text {
  margin-left: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #B3B3B3;
}
#hero .information .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hero .social-and-mail {
  width: 100%;
  padding: 4.5rem 0;
}
#hero .social-and-mail .social-media span {
  color: white;
  margin-right: 20px;
  font-size: 16px;
}
#hero .social-and-mail .social-media .line {
  width: 34px;
  height: 0.1px;
  background-color: white;
  margin-right: 20px;
}
#hero .social-and-mail .social-media .icons ul li {
  margin-right: 10px;
}
#hero .social-and-mail .social-media .icons ul li a {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 11px;
  background-color: black;
}
#hero .social-and-mail .social-media .icons ul li a i {
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 16px;
  color: white;
  transition: 400ms ease-in-out;
}
#hero .social-and-mail .social-media .icons ul li a:hover i {
  transform: rotate(360deg);
}
#hero .social-and-mail .mail {
  text-align: end;
}
#hero .social-and-mail .mail a {
  color: white;
  font-size: 16px;
}

#about {
  width: 100%;
  padding: 100px 0 0 0;
  position: relative;
}
#about .wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.3450980392);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: none;
}
#about .wrapper .videoframe {
  width: 50%;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 350;
}
#about .wrapper .videoframe iframe {
  width: 100%;
  height: 100%;
}
#about .summit-video {
  width: 100%;
  height: 280px;
  position: relative;
}
#about .summit-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .summit-video .mask-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 0;
  left: 0;
}
#about .summit-video .play-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  cursor: pointer;
  z-index: 100;
}
#about .summit-video .play-button .play-icon {
  position: relative;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
#about .summit-video .play-button .play-icon i {
  color: #C8C8C8;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  transition: 300ms;
}
#about .summit-video .play-button .play-icon:hover i {
  color: #F05F6B;
}
#about .summit-video .play-button .play-icon::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: -2;
  animation: frequence-after 2s linear infinite;
}
#about .summit-video .play-button .play-icon::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.681);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: -2;
  animation: frequence-before 2s linear infinite;
}
#about .about-text {
  padding: 9rem 60px 0 90px;
}
#about .about-text .text h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}
#about .about-text .text p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.362);
  margin: 0 0 55px 0;
}

#peoples {
  position: relative;
  width: 100%;
  background-image: url(../../images/Group\ 190.svg), url(../../images/Group\ 190.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 180%, 200%;
  background-position: 135% 37%, 120% 134%;
}
#peoples #founder .founder-section {
  padding: 9rem 60px 0 90px !important;
}
#peoples #founder .title {
  margin-bottom: 5rem;
}
#peoples #founder .title h2 {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
#peoples #founder .image {
  padding-right: 40px;
  position: relative;
  transition: 300ms ease-in-out;
}
#peoples #founder .image .founder-box {
  width: 100%;
  height: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  background: url(../../images/Mask\ Group\ 47.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -60px;
  filter: brightness(0.8);
}
#peoples #founder .image:hover {
  transform: scale(1.1);
}
#peoples #founder .image .name {
  position: absolute;
  left: 7%;
  top: 73%;
}
#peoples #founder .image .name span {
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
}
#peoples #founder .image .name p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  opacity: 0.7;
  line-height: 9px;
}
#peoples #founder .founder-about {
  padding-left: 60px;
}
#peoples #founder .founder-about span {
  color: white;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 300 !important;
}
#peoples #announcers,
#peoples #judges {
  width: 100%;
}
#peoples #announcers .title,
#peoples #judges .title {
  padding: 10rem 60px 8rem 90px;
}
#peoples #announcers .title h2,
#peoples #judges .title h2 {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
#peoples #announcers .announcers-slider,
#peoples #judges .announcers-slider {
  /* Diğer elemanların z-index değerini ayarlamak için sınıf eklenebilir */
}
#peoples #announcers .announcers-slider .swiper-slide,
#peoples #judges .announcers-slider .swiper-slide {
  position: relative;
  transition: z-index 300ms ease-in-out;
  /* z-index değişikliklerini animasyonla geçiş yapar */
}
#peoples #announcers .announcers-slider .swiper-slide:hover,
#peoples #judges .announcers-slider .swiper-slide:hover {
  z-index: 1;
  /* Hover edildiğinde diğer elemanların önüne çıkmasını sağlar */
}
#peoples #announcers .announcers-slider .swiper-slide:not(:hover),
#peoples #judges .announcers-slider .swiper-slide:not(:hover) {
  z-index: 0;
  /* Hover edilmediğinde arkada kalan elemanlar */
}
#peoples #announcers .announcers-slider .box,
#peoples #judges .announcers-slider .box {
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  transition: 300ms ease-in-out;
  padding: 20px 0 !important;
}
#peoples #announcers .announcers-slider .box:hover,
#peoples #judges .announcers-slider .box:hover {
  transform: scale(1.12);
}
#peoples #announcers .announcers-slider .box .announcer-image,
#peoples #judges .announcers-slider .box .announcer-image {
  width: 100%;
}
#peoples #announcers .announcers-slider .box .announcer-image img,
#peoples #judges .announcers-slider .box .announcer-image img {
  width: 100%;
  height: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(2) brightness(0.6);
}
#peoples #announcers .announcers-slider .box .name,
#peoples #judges .announcers-slider .box .name {
  position: absolute;
  left: 7%;
  top: 68%;
  font-weight: 600;
}
#peoples #announcers .announcers-slider .box .name span,
#peoples #judges .announcers-slider .box .name span {
  font-size: 24px;
  color: #E4E4E4;
  font-weight: medium;
}
#peoples #announcers .announcers-slider .box .name p,
#peoples #judges .announcers-slider .box .name p {
  font-size: 16px;
  color: #E4E4E4;
  font-weight: 400;
  opacity: 0.7;
  line-height: 14px;
}

#partners .partners-wrapper {
  padding: 9rem 60px 0 90px !important;
}
#partners .title {
  margin-bottom: 8rem;
}
#partners .title h2 {
  color: white;
  font-size: 50px;
  font-weight: 500;
}
#partners .box-title {
  margin-bottom: 2rem;
}
#partners .box-title span {
  font-size: 24px;
  color: white;
}
#partners .partner-box {
  width: 100%;
  height: 140px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  margin-bottom: 6rem;
  background-color: #0D0D0D;
}

#login-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
#login-popup .login-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
#login-popup .login-box {
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
}
#login-popup .login-box .head-title h3 {
  font-size: 30px;
  color: black;
  font-weight: 500;
}
#login-popup .login-box .login-form .login-input {
  width: 90%;
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  outline: none;
  border: 1px solid black;
  margin-top: 20px;
}
#login-popup .login-box .login-form .checkbox-input {
  margin: 10px 0;
}
#login-popup .login-box .login-form .checkbox-input input {
  width: 30px;
}
#login-popup .login-box .login-form .checkbox-input label {
  font-size: 16px;
  margin: 0 !important;
}
#login-popup .login-box .login-form .buttons {
  margin: 25px 0;
}
#login-popup .login-box .login-form .buttons .login-button {
  padding: 12px 30px;
  margin-right: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#login-popup .login-box .login-form .buttons .register-button {
  color: black;
  font-size: 16px;
}
#login-popup .login-box .login-form .restore-password {
  color: black;
  font-size: 14px;
  text-decoration: underline !important;
  padding: 5px 0;
}

@keyframes login-animation {}
@keyframes frequence-before {
  0% {
    width: 90px;
    height: 90px;
    opacity: 0.8;
  }
  25% {
    width: 110px;
    height: 110px;
    opacity: 0.6;
  }
  50% {
    width: 130px;
    height: 130px;
    opacity: 0.4;
  }
  75% {
    width: 150px;
    height: 150px;
    opacity: 0.2;
  }
  100% {
    width: 170px;
    height: 170px;
    opacity: 0;
  }
}
@keyframes frequence-after {
  0% {
    width: 70px;
    height: 70px;
    opacity: 0.8;
  }
  25% {
    width: 90px;
    height: 90px;
    opacity: 0.6;
  }
  50% {
    width: 110px;
    height: 110px;
    opacity: 0.4;
  }
  75% {
    width: 130px;
    height: 130px;
    opacity: 0.2;
  }
  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  #hero {
    background: none !important;
    width: 100%;
    padding-top: 9rem !important;
  }
  #hero .information {
    padding: 0 0px 0 0px;
    flex-direction: column !important;
  }
  #hero .information .left {
    text-align: center !important;
    order: 2;
  }
  #hero .information .left h1 {
    font-size: 30px !important;
    margin-bottom: 10px !important;
    line-height: 27px !important;
  }
  #hero .information .left .responsive-text {
    display: block !important;
    width: 80% !important;
    margin: 20px auto !important;
  }
  #hero .information .left .responsive-text p {
    font-size: 16px !important;
    color: #B3B3B3 !important;
  }
  #hero .information .left .buttons {
    margin: 40px 0 20px 0 !important;
    justify-content: center !important;
  }
  #hero .information .left .buttons .send-design {
    padding: 12px 42px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: black !important;
  }
  #hero .information .left .buttons span {
    display: none !important;
  }
  #hero .information .right {
    order: 1;
    margin-bottom: 40px !important;
  }
  #hero .social-and-mail {
    width: 100%;
    margin: auto !important;
    padding: 0px 0px !important;
    justify-content: center !important;
  }
  #hero .social-and-mail .media {
    display: none !important;
  }
  #hero .social-and-mail .media .social-media {
    display: none !important;
  }
  #hero .social-and-mail .mail {
    text-align: center !important;
  }
  #hero .social-and-mail .mail a {
    font-size: 16px !important;
  }
  #about {
    width: 100%;
    padding: 90px 0 0 0 !important;
    position: relative;
  }
  #about .wrapper .videoframe {
    width: 90% !important;
    height: 40% !important;
  }
  #about .wrapper .videoframe iframe {
    width: 100%;
    height: 100%;
  }
  #about .summit-video {
    width: 100%;
    height: 150px;
    position: relative;
  }
  #about .summit-video img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about .summit-video .mask-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 0;
    left: 0;
  }
  #about .summit-video .play-button {
    bottom: -25px;
  }
  #about .summit-video .play-button .play-icon {
    width: 45px !important;
    height: 45px !important;
  }
  #about .summit-video .play-button .play-icon i {
    font-size: 18px !important;
  }
  #about .summit-video .play-button .play-icon:hover i {
    color: #F05F6B;
  }
  #about .summit-video .play-button .play-icon::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: -2;
    animation: frequence-after 2s linear infinite;
  }
  #about .summit-video .play-button .play-icon::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.681);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: -2;
    animation: frequence-before 2s linear infinite;
  }
  #about .about-text {
    padding: 6rem 10px 0 10px !important;
  }
  #about .about-text .text h2 {
    font-size: 24px !important;
  }
  #about .about-text .text p {
    font-size: 16px !important;
  }
  #about .about-text hr {
    margin: 30px 0 !important;
  }
  #peoples {
    padding-bottom: 9rem;
    width: 100%;
    background-image: none !important;
  }
  #peoples #founder {
    padding: 0 !important;
  }
  #peoples #founder .custom-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #peoples #founder .title {
    padding: 4rem 20px 0 35px !important;
    margin-bottom: 2.5rem !important;
  }
  #peoples #founder .title h2 {
    font-size: 38px !important;
  }
  #peoples #founder .image {
    padding-right: 15px !important;
  }
  #peoples #founder .image .name {
    left: 8% !important;
    top: 70% !important;
  }
  #peoples #founder .image .name span {
    font-size: 20px !important;
  }
  #peoples #founder .image .name p {
    font-size: 15px !important;
  }
  #peoples #founder .founder-about {
    width: 100% !important;
    margin: auto;
    padding: 0 !important;
    padding: 0 20px 0 20px !important;
  }
  #peoples #founder .founder-about .text-wrapper {
    padding: 4rem 20px 0 20px !important;
  }
  #peoples #founder .founder-about .text-wrapper span {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
  }
  #peoples #announcers,
  #peoples #judges {
    width: 100%;
  }
  #peoples #announcers .title,
  #peoples #judges .title {
    padding: 5rem 0 3rem 0 !important;
  }
  #peoples #announcers .title h2,
  #peoples #judges .title h2 {
    font-size: 38px !important;
  }
  #peoples #announcers .announcers-slider .box .name span,
  #peoples #judges .announcers-slider .box .name span {
    font-size: 22px !important;
  }
  #peoples #announcers .announcers-slider .box .name p,
  #peoples #judges .announcers-slider .box .name p {
    font-size: 15px;
  }
  #partners {
    padding: 0 !important;
  }
  #partners .title {
    margin-bottom: 2.5rem !important;
  }
  #partners .title h2 {
    font-size: 38px !important;
    font-weight: bold !important;
  }
  #partners .box-title {
    margin-bottom: 1rem !important;
  }
  #partners .box-title span {
    font-size: 20px !important;
  }
  #partners .partner-box {
    height: 100px !important;
    margin-bottom: 2rem !important;
  }
  @keyframes frequence-before {
    0% {
      width: 60px;
      height: 60px;
      opacity: 0.8;
    }
    25% {
      width: 70px;
      height: 70px;
      opacity: 0.6;
    }
    50% {
      width: 80px;
      height: 80px;
      opacity: 0.4;
    }
    75% {
      width: 90px;
      height: 90px;
      opacity: 0.2;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }
  @keyframes frequence-after {
    0% {
      width: 50px;
      height: 50px;
      opacity: 0.8;
    }
    25% {
      width: 60px;
      height: 60px;
      opacity: 0.6;
    }
    50% {
      width: 70px;
      height: 70px;
      opacity: 0.4;
    }
    75% {
      width: 80px;
      height: 80px;
      opacity: 0.2;
    }
    100% {
      width: 90px;
      height: 90px;
      opacity: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tabletler için özel stil ayarları */
}
@media screen and (min-width: 1600px) {
  #peoples {
    position: relative;
    width: 100%;
    background-image: url(../../images/Group\ 190.svg), url(../../images/Group\ 190.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 170%, 170%;
    background-position: 142% 34%, 140% 120%;
  }
  #peoples #founder .founder-section {
    padding: 9rem 60px 0 90px !important;
  }
  #peoples #founder .title {
    margin-bottom: 5rem;
  }
  #peoples #founder .title h2 {
    color: white;
    font-size: 50px;
    font-weight: 500;
  }
  #peoples #founder .image {
    padding-right: 40px;
    position: relative;
    transition: 300ms ease-in-out;
  }
  #peoples #founder .image .founder-box {
    width: 100%;
    height: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    background: url(../../images/Mask\ Group\ 47.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -60px;
    filter: brightness(0.8);
  }
  #peoples #founder .image:hover {
    transform: scale(1.1);
  }
  #peoples #founder .image .name {
    position: absolute;
    left: 7%;
    top: 73%;
  }
  #peoples #founder .image .name span {
    font-size: 26px;
    color: #ffffff;
    font-weight: medium;
  }
  #peoples #founder .image .name p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.7;
    line-height: 9px;
  }
  #peoples #founder .founder-about {
    padding-left: 60px;
  }
  #peoples #founder .founder-about span {
    color: white;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  #peoples #announcers,
  #peoples #judges {
    width: 100%;
  }
  #peoples #announcers .title,
  #peoples #judges .title {
    padding: 10rem 60px 8rem 90px;
  }
  #peoples #announcers .title h2,
  #peoples #judges .title h2 {
    color: white;
    font-size: 50px;
    font-weight: 500;
  }
  #peoples #announcers .announcers-slider,
  #peoples #judges .announcers-slider {
    /* Diğer elemanların z-index değerini ayarlamak için sınıf eklenebilir */
  }
  #peoples #announcers .announcers-slider .swiper-slide,
  #peoples #judges .announcers-slider .swiper-slide {
    position: relative;
    transition: z-index 300ms ease-in-out;
    /* z-index değişikliklerini animasyonla geçiş yapar */
  }
  #peoples #announcers .announcers-slider .swiper-slide:hover,
  #peoples #judges .announcers-slider .swiper-slide:hover {
    z-index: 1;
    /* Hover edildiğinde diğer elemanların önüne çıkmasını sağlar */
  }
  #peoples #announcers .announcers-slider .swiper-slide:not(:hover),
  #peoples #judges .announcers-slider .swiper-slide:not(:hover) {
    z-index: 0;
    /* Hover edilmediğinde arkada kalan elemanlar */
  }
  #peoples #announcers .announcers-slider .box,
  #peoples #judges .announcers-slider .box {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    transition: 300ms ease-in-out;
    padding: 20px 0 !important;
  }
  #peoples #announcers .announcers-slider .box:hover,
  #peoples #judges .announcers-slider .box:hover {
    transform: scale(1.12);
  }
  #peoples #announcers .announcers-slider .box .announcer-image,
  #peoples #judges .announcers-slider .box .announcer-image {
    width: 100%;
  }
  #peoples #announcers .announcers-slider .box .announcer-image img,
  #peoples #judges .announcers-slider .box .announcer-image img {
    width: 100%;
    height: 340px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(2) brightness(0.6);
  }
  #peoples #announcers .announcers-slider .box .name,
  #peoples #judges .announcers-slider .box .name {
    position: absolute;
    left: 7%;
    top: 68%;
  }
  #peoples #announcers .announcers-slider .box .name span,
  #peoples #judges .announcers-slider .box .name span {
    font-size: 24px;
    color: #E4E4E4;
    font-weight: medium;
  }
  #peoples #announcers .announcers-slider .box .name p,
  #peoples #judges .announcers-slider .box .name p {
    font-size: 16px;
    color: #E4E4E4;
    font-weight: 400;
    opacity: 0.7;
    line-height: 14px;
  }
  #hero {
    background: url(../../images/Pattern.svg);
    width: 100%;
    padding-top: 14rem;
    background-size: 200%;
    background-position: -2000px -1100px;
  }
  #hero .information {
    padding: 0 7rem 0 7rem;
  }
  #hero .information .left h1 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #hero .information .left .responsive-text {
    display: none;
  }
  #hero .information .left .buttons {
    margin-top: 50px;
  }
  #hero .information .left .buttons .send-design {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    background-color: white;
    color: black;
  }
  #hero .information .left .buttons .news-text {
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #B3B3B3;
  }
  #hero .information .right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #hero .social-and-mail {
    width: 100%;
    padding: 4.5rem 0;
  }
  #hero .social-and-mail .social-media span {
    color: white;
    margin-right: 20px;
    font-size: 16px;
  }
  #hero .social-and-mail .social-media .line {
    width: 34px;
    height: 0.1px;
    background-color: white;
    margin-right: 20px;
  }
  #hero .social-and-mail .social-media .icons ul li {
    margin-right: 10px;
  }
  #hero .social-and-mail .social-media .icons ul li a {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 11px;
  }
  #hero .social-and-mail .social-media .icons ul li a i {
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: 400ms ease-in-out;
  }
  #hero .social-and-mail .social-media .icons ul li a:hover i {
    transform: rotate(360deg);
  }
  #hero .social-and-mail .mail {
    text-align: end;
  }
  #hero .social-and-mail .mail a {
    color: white;
    font-size: 16px;
  }
}
#register {
  background: url(../../images/Group\ 218.svg);
  background-position: 400px -350px;
  background-size: 170%;
  background-repeat: no-repeat;
  padding: 15rem 0 10rem 0;
}
#register .title {
  margin-bottom: 4rem;
}
#register .title h1 {
  font-size: 44px;
  color: white;
  font-weight: 600;
}
#register .image {
  margin-right: 60px !important;
  background-color: black;
}
#register .image .file-input {
  display: none;
}
#register .image .image-box {
  width: 150px;
}
#register .image .image-box .user-image {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}
#register .image .image-box .user-image .icon-image {
  width: 30%;
  height: 30%;
  display: block;
}
#register .image .image-box .user-image .select-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  display: none;
}
#register .image .image-box .image-text {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
#register .image .image-box .image-text span {
  color: white;
}
#register .info .base-info, #register .info .password-info {
  margin-bottom: 30px;
}
#register .info .base-info strong, #register .info .password-info strong {
  display: block;
  font-size: 18px;
  color: white;
  font-weight: 600;
  line-height: 18px;
}
#register .info .base-info span, #register .info .password-info span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.562);
  font-style: italic;
}
#register .info input {
  width: 30%;
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 20px;
  margin-right: 30px;
  margin-bottom: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#register .info .email-input {
  width: 45% !important;
}
#register .info .country-wrapper {
  width: 45% !important;
  position: relative;
}
#register .info .country-wrapper .country-input {
  width: 100%;
  cursor: pointer;
}
#register .info .country-wrapper i {
  position: absolute;
  color: white;
  top: 25%;
  transform: translateY(-25%);
  right: 5%;
  cursor: pointer;
}
#register .info .country-wrapper .countries {
  display: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
#register .info .country-wrapper .countries ul {
  background-color: black;
}
#register .info .country-wrapper .countries ul li {
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.373);
  cursor: pointer;
  transition: 100ms;
}
#register .info .country-wrapper .countries ul li:hover {
  background-color: rgb(36, 36, 36);
}
#register .info .country-wrapper .active-box {
  display: block !important;
}
#register .register-submit {
  padding: 12px 40px;
  margin-top: 50px !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 200ms ease-in-out;
}
#register .register-submit span {
  font-size: 18px !important;
  font-weight: 500;
}
#register .register-submit:hover {
  background-color: #F05F6B;
  color: white;
}

@media screen and (max-width: 767px) {
  #register {
    padding: 8rem 0 5rem 0 !important;
  }
  #register .title h1 {
    font-size: 34px !important;
    color: white;
  }
  #register .wrapper {
    flex-direction: column !important;
  }
  #register .image {
    margin-right: 0px !important;
    width: 100% !important;
  }
  #register .image .image-box {
    width: 150px;
    margin: 0 auto 4rem auto !important;
  }
  #register .info .base-info, #register .info .password-info {
    margin-bottom: 30px;
  }
  #register .info .base-info strong, #register .info .password-info strong {
    display: block;
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 18px;
  }
  #register .info .base-info span, #register .info .password-info span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.562);
  }
  #register .info .input-wrappers {
    flex-direction: column;
  }
  #register .info input {
    width: 100% !important;
    padding: 15px 20px !important;
    margin-right: 0px !important;
  }
  #register .info .email-input {
    width: 100% !important;
  }
  #register .info .country-wrapper {
    width: 100% !important;
  }
  #register .info .country-wrapper .country-input {
    width: 100%;
  }
  #register .info .country-wrapper i {
    position: absolute;
    color: white;
    top: 25%;
    transform: translateY(-25%);
    right: 5%;
    cursor: pointer;
  }
  #register .register-submit {
    padding: 12px 48px !important;
    font-size: 20px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #register {
    padding: 12rem 0 9rem 0 !important;
  }
  #register .title {
    margin-bottom: 4rem;
  }
  #register .wrapper {
    flex-direction: column !important;
  }
  #register .image {
    margin-right: 0px !important;
    width: 100% !important;
  }
  #register .image .image-box {
    width: 220px !important;
    margin: 0 auto 5rem auto;
  }
  #register .image .image-box .user-image {
    border: 1px solid white;
    width: 100%;
    height: 220px !important;
  }
  #register .info .base-info, #register .info .password-info {
    margin-bottom: 30px;
  }
  #register .info .base-info strong, #register .info .password-info strong {
    display: block;
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 18px;
  }
  #register .info .base-info span, #register .info .password-info span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.562);
  }
  #register .info .input-wrappers {
    flex-direction: column !important;
  }
  #register .info input {
    width: 100% !important;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    margin-right: 0px !important;
    margin-bottom: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  #register .info .email-input {
    width: 100% !important;
  }
  #register .info .country-wrapper {
    width: 100% !important;
    position: relative;
  }
  #register .info .country-wrapper .country-input {
    width: 100%;
    cursor: pointer;
  }
  #register .info .country-wrapper i {
    position: absolute;
    color: white;
    top: 25%;
    transform: translateY(-25%);
    right: 5%;
    cursor: pointer;
  }
  #register .info .country-wrapper .countries {
    display: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
  #register .info .country-wrapper .countries ul {
    background-color: black;
  }
  #register .info .country-wrapper .countries ul li {
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.373);
    cursor: pointer;
    transition: 100ms;
  }
  #register .info .country-wrapper .countries ul li:hover {
    background-color: rgb(36, 36, 36);
  }
  #register .info .country-wrapper .active-box {
    display: block !important;
  }
  #register .register-submit {
    background-color: white;
    padding: 10px 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
  }
}
#send-design {
  background: url(../../images/Group\ 218.svg);
  background-position: 400px -350px;
  background-size: 170%;
  background-repeat: no-repeat;
  padding: 14rem 0 10rem 0;
  width: 100%;
}
#send-design #box-wrapper .project-input {
  margin-bottom: 8rem !important;
}
#send-design #box-wrapper .design-text {
  width: 100%;
  margin-bottom: 6rem !important;
}
#send-design #box-wrapper .design-text .text {
  width: 81%;
  height: 100px;
  overflow: hidden;
}
#send-design #box-wrapper .design-text .text textarea {
  width: 100%;
  height: 100%;
  padding: 10px 50px 55px 20px;
  border: 1px solid white;
  outline: none;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  word-wrap: break-word;
  resize: none;
}
#send-design .head-title {
  width: 100%;
  margin-bottom: 40px;
}
#send-design .head-title h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}
#send-design .sub-title {
  margin-bottom: 50px;
}
#send-design .sub-title strong {
  font-size: 16px;
  color: white !important;
  display: block;
  font-weight: 600;
}
#send-design .sub-title span {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
  font-style: italic;
}
#send-design .design-box {
  margin-right: 5rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.2rem !important;
}
#send-design .design-box .category-input, #send-design .design-box .concept-input {
  width: 80%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid white;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  color: white;
  cursor: pointer;
}
#send-design .design-box .title-input {
  width: 81%;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background-color: black;
}
#send-design .design-box #category-open-icon, #send-design .design-box #concept-icon {
  position: absolute;
  top: 35%;
  left: 74%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.471);
  cursor: pointer;
  z-index: 10 !important;
}
#send-design .design-box .categoryes, #send-design .design-box .concepts {
  width: 80%;
  display: none;
  position: absolute;
  z-index: 20;
  bottom: 100%;
  margin-top: 10px;
  height: 150px;
  overflow-y: scroll;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background-color: black;
}
#send-design .design-box .categoryes ul, #send-design .design-box .concepts ul {
  background-color: black;
}
#send-design .design-box .categoryes ul li, #send-design .design-box .concepts ul li {
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.373);
  cursor: pointer;
  transition: 100ms;
}
#send-design .design-box .categoryes ul li:hover, #send-design .design-box .concepts ul li:hover {
  background-color: rgb(36, 36, 36);
}
#send-design .design-box .active-box {
  display: block !important;
}
#send-design .design-box .add-column {
  margin-bottom: 20px !important;
  cursor: pointer;
}
#send-design .design-box .add-column i {
  padding: 8px 9px;
  border-radius: 60%;
  color: white;
  background-color: #F05F6B;
  margin-right: 15px;
}
#send-design .design-box .add-column span {
  color: white;
  font-size: 16px;
}
#send-design .design-box .image {
  width: 20%;
  height: 100px;
  padding: 0px 0 !important;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
  background-color: black;
}
#send-design .design-box .image .file-input {
  display: none;
}
#send-design .design-box .image .select-image {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#send-design .design-box .image .icon-image {
  display: block;
  width: 40px;
  height: 40px;
}
#send-design .design-box .text {
  width: 55%;
  height: 100px;
  overflow: hidden;
}
#send-design .design-box .text textarea {
  width: 100%;
  height: 100%;
  padding: 10px 50px 55px 20px;
  border: 1px solid white;
  outline: none;
  background-color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  word-wrap: break-word;
  resize: none;
}
#send-design .design-box .info-text {
  width: 100%;
  margin-top: 30px;
}
#send-design .design-box .info-text .text-one {
  display: block;
  font-size: 15px;
  color: white;
  font-weight: 600;
}
#send-design .design-box .info-text .text-two {
  display: block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 300;
  font-style: italic;
}
#send-design .send-button button {
  padding: 12px 40px;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 200ms ease-in-out;
  font-weight: 500;
}
#send-design .send-button button span {
  font-size: 16px !important;
}
#send-design .send-button button:hover {
  background-color: #F05F6B;
  color: white;
}

@media screen and (max-width: 767px) {
  #send-design {
    padding: 10rem 0 7rem 0 !important;
    width: 100%;
  }
  #send-design .head-title {
    margin-bottom: 30px !important;
  }
  #send-design .head-title h1 {
    font-size: 34px !important;
    color: white;
  }
  #send-design .sub-title {
    width: 100%;
  }
  #send-design .sub-title strong {
    font-size: 14px !important;
    color: white !important;
    display: block;
    letter-spacing: 1px;
  }
  #send-design .sub-title span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 0px !important;
  }
  #send-design .box-wrapper {
    flex-direction: column;
  }
  #send-design .design-box {
    width: 100% !important;
    margin-right: 0rem !important;
    margin-top: 4rem !important;
  }
  #send-design .design-box .category-input {
    width: 100% !important;
    padding: 15px 20px !important;
    margin-bottom: 5px !important;
    position: relative;
    color: white;
  }
  #send-design .design-box #category-open-icon {
    position: absolute;
    top: 35%;
    left: 90%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.471);
  }
  #send-design .design-box .categoryes {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    margin-top: 10px;
    height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: black;
  }
  #send-design .design-box .categoryes ul {
    background-color: black;
  }
  #send-design .design-box .categoryes ul li {
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.373);
    cursor: pointer;
    transition: 100ms;
  }
  #send-design .design-box .categoryes ul li:hover {
    background-color: rgb(36, 36, 36);
  }
  #send-design .design-box .active-box {
    display: block !important;
  }
  #send-design .design-box .add-column {
    margin-bottom: 5px !important;
  }
  #send-design .design-box .add-column i {
    padding: 8px 9px;
    border-radius: 60%;
    color: white;
    background-color: #F05F6B;
    margin-right: 15px;
  }
  #send-design .design-box .add-column span {
    color: white;
    font-size: 16px;
  }
  #send-design .design-box .image {
    width: 30%;
    padding: 0px 0 !important;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px !important;
    cursor: pointer;
  }
  #send-design .design-box .image .file-input {
    display: none;
  }
  #send-design .design-box .image .select-image {
    display: none;
  }
  #send-design .design-box .image .icon-image {
    display: block;
    width: 40px;
    height: 40px;
  }
  #send-design .design-box .text {
    width: 60%;
    height: 100px;
    overflow: hidden;
  }
  #send-design .design-box .text textarea {
    width: 100%;
    height: 100%;
    padding: 10px 50px 55px 20px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
  }
  #send-design .design-box .info-text {
    width: 100%;
    margin-top: 30px;
  }
  #send-design .design-box .info-text .text-one {
    display: block;
    font-size: 15px;
    color: white;
    font-weight: 600;
  }
  #send-design .design-box .info-text .text-two {
    display: block;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.596);
    font-weight: 300;
  }
  #send-design .send-button {
    margin-top: 5rem;
  }
  #send-design .send-button button {
    padding: 10px 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: black;
    background-color: white;
    font-size: 18px;
  }
}
#head-division {
  background: url(../../images/Group\ 218.svg);
  background-position: 450px -300px;
  background-size: 170%;
  background-repeat: no-repeat;
  padding: 13rem 0 5rem 0;
  width: 100%;
}
#head-division .title-section .left h1 {
  font-size: 45px;
  color: white;
  font-weight: 600;
}
#head-division .title-section .right {
  text-align: end;
  display: flex;
  justify-content: end;
}
#head-division .title-section .right span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 10px;
  color: white;
  font-weight: 500;
}
#head-division .title-section .right h2 {
  display: inline-block;
  margin-bottom: 0 !important;
  font-size: 45px;
  color: white;
  font-weight: 600;
}
#head-division #projects {
  padding-top: 80px;
}
#head-division #projects .custom-container .wrapper {
  flex-wrap: wrap;
  display: flex;
}
#head-division #projects .custom-container .wrapper .project-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
#head-division #projects .custom-container .wrapper .project-container .project-box {
  margin-bottom: 40px;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .title {
  width: 180px;
  margin: 0 auto;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .title strong {
  display: block;
  font-size: 19px;
  color: white;
  line-height: 18px;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .title span {
  font-size: 19px;
  color: #7D7D7D;
  font-style: italic;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .project-image {
  width: 180px !important;
  height: 180px !important;
  border: 1px solid #7D7D7D;
  margin: 10px auto 30px auto;
  border-radius: 10px;
  background-color: black;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting {
  width: 180px;
  margin: 20px auto;
  text-align: center;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .stars {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .stars i {
  font-size: 20px;
  color: #FEC007;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .info span {
  color: #5C5C5C;
  font-weight: 500;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .more-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px 10px;
  margin-top: 10px !important;
  background-color: black;
}
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .more-info .project-voice,
#head-division #projects .custom-container .wrapper .project-container .project-box .reyting .more-info .project-number {
  font-size: 14px !important;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.712);
  margin: 0 !important;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  #head-division {
    padding: 10rem 0 5rem 0;
    width: 100%;
  }
  #head-division .title-section .left h1 {
    font-size: 30px;
    color: white;
  }
  #head-division .title-section .right {
    text-align: end;
    display: flex;
    justify-content: end;
  }
  #head-division .title-section .right span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
    color: white;
  }
  #head-division .title-section .right h2 {
    display: inline-block;
    margin-bottom: 0 !important;
    font-size: 35px;
    color: white;
  }
  #projects .wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
  #projects .wrapper .project-box {
    width: 45%;
    margin-bottom: 14rem !important;
  }
  #projects .wrapper .project-box .title strong {
    display: block;
    font-size: 19px;
    color: white;
  }
  #projects .wrapper .project-box .title span {
    font-size: 19px;
    color: #7D7D7D;
  }
  #projects .wrapper .project-box .project-image {
    width: 90%;
    height: 90%;
    border: 1px solid #7D7D7D;
    margin: 30px 0;
    border-radius: 10px;
  }
  #projects .wrapper .project-box .reyting {
    width: 90%;
    text-align: center;
    padding: 0 20px;
  }
  #projects .wrapper .project-box .reyting .stars {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #projects .wrapper .project-box .reyting .stars i {
    font-size: 20px;
    color: #FEC007;
  }
  #projects .wrapper .project-box .reyting .info span {
    color: #5C5C5C;
  }
}
#project-view {
  background: url(../../images/Group\ 218.svg);
  background-position: 400px -400px;
  background-size: 170%;
  background-repeat: no-repeat;
  padding-top: 15rem;
  width: 100%;
}
#project-view .left-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
#project-view .left-wrapper .base-image {
  width: 75%;
  background-color: white;
}
#project-view .left-wrapper .column-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
#project-view .left-wrapper .column-box .image-box {
  height: 22%;
}
#project-view .left-wrapper .column-box .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
}
#project-view .left-wrapper .column-box .active-image {
  border: 3px solid #F05F6B !important;
}
#project-view .right-wrapper {
  margin-left: 40px;
}
#project-view .right-wrapper .title, #project-view .right-wrapper .description {
  margin-bottom: 3rem;
}
#project-view .right-wrapper .title h1, #project-view .right-wrapper .description h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}
#project-view .right-wrapper .title p, #project-view .right-wrapper .description p {
  color: white;
  font-size: 16px;
}
#project-view .right-wrapper .reyting .stars {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
#project-view .right-wrapper .reyting .stars i {
  font-size: 26px;
  color: #FEC007;
  margin-right: 15px;
}
#project-view .right-wrapper .submit-btn {
  margin-top: 4rem;
}
#project-view .right-wrapper .submit-btn .access-btn {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 34px;
  color: white;
  background-color: black;
  transition: 200ms ease-in-out;
}
#project-view .right-wrapper .submit-btn .access-btn:hover {
  background-color: white;
  color: black;
}
#project-view .navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-top: 40px;
}
#project-view .navigations .prev-btn, #project-view .navigations .next-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#project-view .navigations .prev-btn .icon, #project-view .navigations .next-btn .icon {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 15px;
  transition: 200ms ease-in-out;
}
#project-view .navigations .prev-btn .icon i, #project-view .navigations .next-btn .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#project-view .navigations .prev-btn .text span, #project-view .navigations .next-btn .text span {
  color: white;
  font-size: 16px;
}
#project-view .navigations .prev-btn:hover .icon, #project-view .navigations .next-btn:hover .icon {
  background-color: white;
}
#project-view .navigations .prev-btn:hover .icon i, #project-view .navigations .next-btn:hover .icon i {
  color: black;
}
#project-view .navigations .next-btn {
  margin-right: 20px;
}
#project-view .navigations .next-btn .icon {
  margin-left: 20px !important;
}

#footer .footer-left a {
  font-size: 16px;
  color: #AAAAAA;
}
#footer .footer-icons-mobile {
  display: none;
}
#footer .footer-center h3 {
  font-size: 16px;
  text-align: end;
  color: #AAAAAA;
  margin: 0 !important;
}
#footer .footer-right {
  font-size: 16px;
  text-align: end;
  color: #AAAAAA;
  display: block !important;
}
#footer .footer-right ul {
  justify-content: end;
}
#footer .footer-right ul li {
  margin: 0 0 10px 10px;
}
#footer .footer-right ul li a {
  border: 1px solid rgba(255, 255, 255, 0.555);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}
#footer .footer-right ul li a i {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.555);
  transition: 400ms ease-in-out;
}
#footer .footer-right ul li a:hover i {
  transform: rotate(360deg);
}

@media screen and (max-width: 767px) {
  #footer {
    padding: 40px 0 !important;
  }
  #footer .footer-info {
    flex-direction: column !important;
    text-align: center;
  }
  #footer .footer-info .footer-left a {
    font-size: 16px;
    color: #AAAAAA;
  }
  #footer .footer-info .footer-icons {
    display: block !important;
    margin: 30px auto !important;
  }
  #footer .footer-info .footer-icons .icons ul li {
    margin-right: 10px;
  }
  #footer .footer-info .footer-icons .icons ul li a {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
  }
  #footer .footer-info .footer-icons .icons ul li a i {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 16px;
    color: white;
    transition: 400ms ease-in-out;
  }
  #footer .footer-info .footer-icons .icons ul li a:hover i {
    transform: rotate(360deg);
  }
  #footer .footer-info .footer-center h3 {
    font-size: 18px;
    text-align: center;
    color: #AAAAAA;
    display: none;
  }
  #footer .footer-info .footer-right {
    font-size: 18px;
    text-align: center;
    color: #AAAAAA;
    display: block !important;
  }
  #footer .footer-info .footer-right ul {
    justify-content: center;
    margin: 20px 0 !important;
  }
  #footer .footer-info .footer-right ul li {
    margin: 0 0 10px 10px;
  }
  #footer .footer-info .footer-right ul li a {
    border: 1px solid rgba(255, 255, 255, 0.555);
    border-radius: 50%;
    padding: 6px;
  }
  #footer .footer-info .footer-right ul li a i {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.555);
    transition: 400ms ease-in-out;
  }
  #footer .footer-info .footer-right ul li a:hover i {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tabletler için özel stil ayarları */
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {
  /* Tabletler için özel stil ayarları */
}/*# sourceMappingURL=style.css.map */